.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  background-color: #f2f2f2;
}

.headerContainer {
  display: flex;
  justify-content: left;
  align-items: center;
}

.headerTitleContainer {
  display: flex;
  align-items: center;
  margin-left: 14px;
  text-decoration: none;
}

.headerTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  color: #242424;
}

.headerIcon {
  height: 32px;
  width: auto;
  margin-left: 36px;
}

.shareButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 20px;
}

.shareButton {
  color: #ffffff;
}

.shareButtonText {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.urlTextBox {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #707070;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
}

.copyButtonContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 12px;
  gap: 4px;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
}

.copyButtonContainer:hover {
  cursor: pointer;
  background: #d1d1d1;
}

.copyButton {
  color: #424242;
}

.copyButtonText {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #242424;
}

@media (max-width: 480px) {
  .headerTitleContainer {
    margin-left: 4px;
  }

  .headerIcon {
    margin-left: 26px;
  }
}




.dropdown {
  position: relative;
  display: inline-block;
  width: 100px;
  border: 1px solid #d1d1d1;
  background-color: rgb(255, 255, 255);
  color: rgb(50, 49, 48);
  text-align: center;
  padding: 0px 16px;
  cursor: pointer;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", sans-serif;
  font-size: 14px;
  height: 32px;
  align-items: center;
  display: flex;
  height: 100%;
}

.dropdownContent {
  text-align: right;
  display: none;
  position: absolute;
  right: 0px;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0 8px 16px #0003;
  padding: 8px 2px;
  z-index: 1;
  text-align: left;
  top: 30px;
}

.dropdownitem {
  display: block;
}
.dropdownitem:hover {
  background-color: #f1f1f1;
  
}
.spnExport{
  vertical-align: top;
  font-size: 14px;
}

.dropdown:hover .dropdownContent {
  display: block;
}